
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# AWS SAM build artifacts
.aws-sam/

# AWS SAM Config File
samconfig.toml

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Environments
.env
.venv
venv/
